<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ static_url('style.css') }}" />
        <title>I ♡ GIT</title>
        <meta name="robots" content="noindex, nofollow" />
        <script type="text/javascript" src="{{ static_url('jquery-1.6.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ static_url('iheartgit.js') }}"></script>
    </head>
    <body>
        <div id="page">
            <h1><a href="/" title="I ♡ GIT">I ♡ GIT</a></h1>
            <div id="tweet-button"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://iheartgit.com/" data-text="I ♡ GIT" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
            <div id="content">
                {% if current_user == None %}
                    <p id="signin"><strong>Show the World you <span>♡</span> GIT.</strong><br/><a href="/oauth/github/login">Sign in with GitHub</a> or <a href="/oauth/twitter/login">Sign in with Twitter</a></p>
                {% else %}
                    <p id="signin">Welcome back, {{ current_user.nick }} :).</p>
                {% end %}
                
                <div id="publish">
                    <form action="/shouts" method="post">
                        <p class="header">I love GIT because:</p>
                        <textarea name="text"></textarea>
                        <div class="submit"><input type="submit" value="Send" /></div>
                    </form>
                </div>
                
                <div id="shouts">
                    <p class="header">{{ shouts_count }} people ♡ GIT</p>
                    <p id="load-more"><a data-offset="0" href="#">Load more</a></p>
                </div>
            </div>
            <div id="footer">I ♡ GIT by <a href="http://www.bthlabs.pl/">BTHLabs</a> &amp; <a href="#">dembsky</a> &bull; <a href="https://github.com/tomekwojcik/iheartgit">Fork me on GitHub</a></div>
        </div>
    </body>
</html>
